@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------------*/
* {
  font-size: 0;
  color: #232323; }

.page {
  width: 92%;
  margin: 0 auto;
  background-color: #f1f1f1; }

.header__inner .header__title {
  display: inline-block;
  width: 25%;
  background-color: #232323;
  padding: 4px; }
  .header__inner .header__title .header__heading {
    font: 28px "Montserrat ExtraBold";
    text-transform: uppercase;
    color: #f1f1f1;
    margin-left: 6px; }

.header__inner .header__description {
  display: inline-block;
  width: 75%;
  background-color: #FF3C1E;
  padding: 4px; }
  .header__inner .header__description .header__text {
    font: 28px "Montserrat ExtraBold";
    text-transform: uppercase;
    color: #f1f1f1;
    margin-left: 6px; }
